In [1]:
import os, re
import pandas as pd

# CURRENT DIRECTORY (PLACE SCRIPT IN /home/mydirectory)
cd = os.getcwd()

In [33]:
fileNames=[]
reviewRegex = re.compile(r'newest_rev(ie|ei)ws')

In [39]:
i = 0
columns = range(1,100)
dfList = []

for root, dirs, files in os.walk(cd):
    for fname in files:
        if reviewRegex.search(fname):
            frame = pd.read_csv(os.path.join(root, fname), names=columns)
            frame['key'] = "file{}".format(i)
            dfList.append(frame)    
            fileNames.append(fname)
            i += 1

C:\Users\shahi\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\shahi\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (0,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [36]:
len(fileNames)

64

In [40]:
df = pd.concat(dfList)

In [43]:
df.dropna(axis=1,how="all",inplace=True)

In [47]:
df.drop(labels=["key"],axis=1,inplace=True)

In [48]:
df

,1,2,3,4,5
0,appTitle,userName,date,score,text
1,Photomath,NaN,"March 8, 2019",5,nice
2,Photomath,NaN,"March 8, 2019",4,very helpful
3,Photomath,NaN,"March 8, 2019",5,Great App. Detailed answers. Understandable an...
4,Photomath,NaN,"March 8, 2019",5,great!!!
...,...,...,...,...,...
44796,SoundCloud - Music & Audio,pubgmaster 25,"May 3, 2019",1,it gay
44797,SoundCloud - Music & Audio,Anjita Sinha,"May 3, 2019",4,Love it
44798,SoundCloud - Music & Audio,Luis Lucas,"May 3, 2019",5,muy bueno me gusta y puedo aguardar la musica ...
44799,SoundCloud - Music & Audio,Teairo Keys,"May 3, 2019",5,love this app
44800,SoundCloud - Music & Audio,Ian Libo,"May 3, 2019",1,The app was great and has a very nice selectio...

In [ ]:
df.colums = df.iloc[0]